* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.page {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: "header",
                         "content",
                         "footer";
}

h1, h2, h3, h4, h5, h6, .heading {
    font-family: 'Lato', sans-serif;
}

a {
    color: black;
}

em {
    font-weight: bolder;
}

li {
    margin: 10px;
}

/* Header */
.header {
    grid-area: "header";
    display: flex;
    align-items: center;
    padding: 10px 100px;
}

.logo-container {
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 375px;
    padding: 10px;
    max-width: 100%;
    height: auto;
}

.main-nav {
    width: 75%;
    padding: 20px 80px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    padding: 5px;
}

/* Home Page */
.home-content {
    grid-area: "content";
    position: relative;
}

.home-img {
    width: 100%;
    display: block;
}

.home-overlay {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.text-container {
    position: relative;
}

.img-overlay-text {
    color: #F3F3F3;
    font-size: 3vw;
}

.home-img-overlay-text {
    color: #F3F3F3;
    display: inline block;
    padding: 5px 15px;
    font-size: 4vw; /* Might need to change later and just make the text and background as part of the image */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.home-img-overlay-text::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 1%;
    right: 1%;
    bottom: 20%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    border-radius: 10px; /* Adjust border radius for rounded corners */
    z-index: -1; /* Place behind the text */
    padding: 10px;
}

.learn-more {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 2vw;
    color: white;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.learn-more:hover {
    background-color: #555;
}

/* General Page */
.general-content {
    grid-area: "content";
    position: relative;
    overflow: hidden;
    background-color: #fafafa;
}

.legal-holder {
    padding: 20px;
}

.legal-spacing {
    padding: 30px;
}

.page-heading-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    height: 175px;
    overflow: hidden;
}

.page-heading-img {
    width: 100%; /* BEWARE: this combo stretches the image*/
    height: auto;
    object-fit: cover;
}

.page-img-tinter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.img-overlay-text {
    color: #F3F3F3;
    font-size: 3vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

/* General Page Text */
.page-info {
    background-color: hsl(0, 0%, 98%);
    padding: 20px;
    border-radius: 10px;
}

.page-statement {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 24px;
    background-color: #f7f7f7;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333333;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.heading-to-text-spacer {
    margin: 10px;
}

.back-button {
    padding: 20px;
}

.legal-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legal-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.legal-link {
    margin-bottom: 10px;
    text-decoration: none;
    color: #007BFF;
}

.legal-link:hover {
    text-decoration: underline;
}

.spacing-div {
    margin: 100px;
}

.legal-page-click {
    text-decoration: none;
}

.legal-page-select {
    display: flex;
    justify-content: space-around;
}

.legal-page-heading {
    text-align: center;
}

.legal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legal-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legal-paragraph-heading {
    margin-bottom: 0;
}

.section-divider {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.text-section {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #f2f2f2; */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.section-heading {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 12px;
}

.section-text {
    font-size: 20px;
    line-height: 1.6;
    color: #333333;
    margin-bottom: 20px;
}

.account-login-center {
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
}

.account-login-holder {
    max-width: 690px;
    background-color: #fff;
    margin: 20px;
    padding: 60px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.account-login-header {
    margin: 5px;
    font-weight: 400;
}

.account-spacing-div {
    margin: 50px;
}

.account-login-text {
    margin: 30px;
    font-size: 24px;
    font-weight: 300;
}

.account-login-button {
    font-size: 28px;
    padding: 20px 30px;
}

.contact-us-holder {
    padding: 40px;
    text-align: center;
}

.contact-header {
    font-weight: 400;
    margin: 40px;
}

.contact-us-grid-holder {
    display: grid;
    grid-template-areas: ". locations .";
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}

.contact-cards {
    grid-area: locations;
    display: flex;
    justify-content: space-around;
}

.contact-card {
    max-width: 690px;
    background-color: #fff;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.location-title {
    text-align: center;
    font-weight: 400;
}

.contact-info-header {
    font-weight: 600;
}

.location-info {
    display: grid;
    /* grid-template-areas: "address phone-numbers",
                            "email email"; */
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.address {
    /* grid-area: address; */
    grid-column: 1;
    text-align: center;
    font-size: 18px;
}

.address-line {
    margin: 0;
}

.phone-numbers {
    /* grid-area: phone-numbers; */
    grid-column: 2;
    text-align: center;
    font-size: 18px;
}

.email {
    /* grid-area: email; */
    grid-column: 1 / span 2;
    text-align: center;
    font-size: 18px;
}

/* Footer */
.footer {
    grid-area: "footer";
    padding: 20px;
    background-color: lightgray;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 0.9em;
    opacity: 0.7;
}

.site-map {
    display: flex;
    justify-content: space-around;
}

.site-map-item {
    list-style-type: none;
}


@media screen and (max-width: 768px) {
    .header {
        /* Adjust styles for smaller screens */
    }

    /* Other styles for smaller screens */
}
